body {
  font-size: 18px;
  color: #4a4a4a;
}

img {

}

/* CSS for Navigation and Header */
nav {
  width: 100%;
  height: 64px;
  background-color: #fff;
  display: flex;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }
  .logo-container {
    display: none;
  }
  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hero-container, .image-section-calendar-container, .courses-container, .thesis-container, .footer-container {
    display: none;
  }

  .mobile-hero-container {
    width: 100%;
    height: 100%;
  }

  .mobile-hero-container img {
    width: 100%;
    heigth: 100%;
  }

  .mobile-text-banner {
    padding: 32px 16px;
    background-color: #d8d8d8;
  }

  .mobile-banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .mobile-banner-description {
    font-size: 2rem;
    line-height: 1.5;
  }

  .mobile-button {
    margin-top: 24px;
    background-color: #636468;
    width: 100%;
    height: 38px;
    color: white;
    padding: 8px 0px;
    font-size: 1.8rem;
    text-align: center;
  }

  /* Mobile calendar section */
  .mobile-image-calendar-section {
    width: 100%;
    height: 100%;
  }

  .mobile-events-container {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
  }

  .mobile-events-container img {
    height: 100%;
    width: 100%;
  }

  .mobile-events-textbox {
    padding: 0px 32px;
  }

  .mobile-events-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .mobile-events-description {
    font-size: 1.5rem;
    line-height: 2;
  }

  .mobile-read-more {
    color: blue;
    font-size: 1.2rem;
  }

  /* Mobile Learning Section */
  .mobile-learning-section {
    padding: 16px 16px 32px 16px;
  }

  .mobile-learning-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 32px 0px 16px 0px;
    text-align: center;
    color: #4a4a4a;
  }

  .mobile-learning-item {
    padding: 16px 16px 24px 16px;
    background-color: #d8d8d8;
    margin-bottom: 8px;
    font-size: 2rem;
    word-spacing: 1.2;
  }

  /*Thesis mobile section */
  .mobile-thesis-section {

  }

  .mobile-thesis-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 32px 0px 16px 0px;
    text-align: center;
  }

  .mobile-thesis-video video {
    height: 100%;
    width: 100%;
    padding-bottom: 24px;
  }

  /* Mobile Footer */
  .mobile-footer {
    padding: 16px 0px;
    text-align: center;
  }

}

@media only screen and (min-width: 600px) {

  .mobile-nav {
    height: 64px;
    width: 100%;
    background-color: white;
  }

  .nav-container, .mobile-hero-container, .mobile-events-container, .mobile-events-textbox, .mobile-thesis-section, .mobile-learning-section, .mobile-footer {
    display: none;

}


.logo-container {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 16px 0px;
}

.logo-text {
  font-size: 24px;
}

.span-title {
  color: grey;
  font-size: 24px;
}

.logo-image {
  margin-left: 24px;
  height: 100%;
}

.header-nav {
  width: 100%;
  height: 50%;
  padding: 16px 0px;
}

li {
  display: inline-block;
  padding-right: 16px;
  float: right;
  color: black;
}

a {
  text-decoration: none;
}

/* CSS for Hero Banner and Container */
/*
img {
  max-width: 100%;
  max-height: 100%;
}
*/

.hero-container {
  width: 100%;
  background-color: #d8d8d8;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-image {
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-text-container {
  width: 35%;
}

.banner-title {
  font-size: 30px;
  font-weight: bold;
  color: #4a4a4a;
}

.banner-text {
  font-size: 22px;
  padding-top: 24px;
}

.btn {
  background-color: #4A4A4A;
  height: 34px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.btn-text {
  color: white;
}

/* Image with Calendar and events section */

.image-section-calendar-container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}

.image-section-container {
  width: 100%;
  height: 100%;
}

.image-section-container img {
  padding-bottom: 32px;
  padding-right: 24px
}

.image-section-title {
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 28px;
}

.info-image-container {
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.info-image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.author {
  font-weight: bold;
  font-size: 14px;
  padding: 32px 0px;
}

.events-container {
  width: 35%;
  padding-top: 16px;
  padding-bottom: 32px;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
}

.events {
  width: 100%;
  display: flex;
  align-items: center;
}

.events:hover {
  background-color: #D8D8D8;
}

.event-text-item-container {
  width: 65%;
}

/*
.events-image img {
  width: 35%;
  height: auto;
  padding: 16px;
}
*/
.events-image-container {
  width: 35%;
  padding: 16px;
}

.events img {
  width: 100%;
  height: auto;
}

.event-title {
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}

.event-description {
  font-size: 16px;
  padding-bottom: 8px;
}

.read-more {
  color: blue;
}

.courses-container {
  width: 100%;
  height: 100%;
  background-color: #d8d8d8;
}

.learning-title {
  font-weight: bold;
  padding-top: 32px;
  font-size: 28px;
  text-align: center;
}

.courses-grid-container {
  height: 100%;
  padding: 32px 40px 32px 72px;
  display: flex;
  flex-wrap: wrap;
}
.course-image {

}

.grid-item-container {
   width: calc(100% * (1/3) - 32px);
   flex-grow: 1;
   background-color: white;
   margin: 0px 32px 32px 0px;
   height: auto;
}

.course-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.course-text-box {
  padding: 16px 16px 24px 16px;
}

.courses-span {
  padding: 8px 0px;
}

.course-title {
  font-weight: bold;
}




/* Thesis exhibit section CSS */

.thesis-container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  }

.thesis-title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 32px;
  text-align: center;
}

.thesis-section-container {
  width: 60%;
  height: 100%;
  padding: 32px 24px 24px 24px;
}

video {
  height: 100%;
  width: 100%;
}

.video-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.video-options-container {
  width: 40%;
  height: 100%;
  padding-top: 32px;
}

.video-grid-image {
  width: 35%;
  height: 100%;
  padding: 16px;
}

.video-grid-image img {
  width: 100%;
}

.video-grid-item:hover {
  background-color: #D8D8D8;
}

.video-grid-textbox {
  width: 65%;
}

.video-grid-title {
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}

.video-grid-description {
  font-size: 16px;
  padding-bottom: 8px;
}

.video-title {
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 28px;
}

.footer-container {
  padding: 16px 24px;
  border-top: 1px solid #D8D8D8;

}

.copyright {
  font-size: 16px;
}

.terms {
  float: right;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
}

a:visited {
  color: #4a4a4a;
}
